*{box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'seagoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    /* max-width: 900px; */
    width: 100%;
}

.navigation-bar{
    height: 44px;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 70px;
    padding-right: 90px;
    position: relative;
}
.nav-left{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}
.nav-left img{
    width: 110px;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: capitalize;
}
.navigation-bar li a:hover{
    border-bottom: 2px solid black;
}
.nav-right ul li:first-child{
    position: relative;
    right: 10px;
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.btn:hover{
    opacity: 0.6;
}
.main-area{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: flex-end;
    width: 100%;
    height: 445px;
    background: url('/img/m\ 365.jpeg') no-repeat center center/cover;
    position: relative;
    padding-bottom: 120px;
    margin-bottom: 113px;
}
.inner-content{
    margin-bottom: 50px;
    margin-left: 102px;
    width: 562px;
}
.inner-content h1, .inner-content p{
    margin-bottom: 16px;
}
.inner-content h1{
    font-size: 42px;
}
.icons{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    align-items: center;
    text-decoration: underline;
    color: #0067b8;

}
.icons div:hover{
    cursor: pointer;
}
/* Cards */
.heading-cards{
    margin-left: 91px;
    font-size: 42px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin-bottom: 35px;
    margin: 90px;
}
.cards img{
    width: 100%;
    margin-bottom: 10px;
}
.cards h3{
    margin-bottom: 10px;
}
.cards p{
    margin-bottom: 10px;
}
.cards a, .cards i{
    text-decoration: none;
    color: blue;
    /* padding-bottom: 5px; */
}
.cards a:hover{
    border-bottom: blue solid 2px;

}
/* Main Area 2 */
.main-area2{
    background: url('/img/main\ area\ 2.jpeg');
    color: white;

}
.inner-content2{
    margin: 72px 89px;
    padding: 13px 26px;
}
.butn{
    color: white;
    padding: 12px 34px;
    font-size: 16px;
    background-color: #0067b8;
}
.butn:hover{
    cursor: pointer;
    background-color: #0374ca;
}
/* Socials */
.social img{
    width: 44px;
    padding: 9px;
}
.social{
    display: flex;
    align-items: center;
    margin: 35px 66px 0;
    margin-bottom: 23px;
}
.social *{
    padding-left: 15px;
}
.social img:hover{
    opacity: 0.8;
}
/* LINKS */
.links{
    background-color: #f2f2f2;  
    color: #616161;
    font-size: 12px;
    padding: 35px 0;

}
.inner-links{
    max-width: 1173px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 89px;
    justify-content: center;
}
.inner-links ul li a{
    font-size: 10px;
}
.inner-links ul li a:hover{
    text-decoration: underline;
}
.links li{
    line-height: 2.8;
}
/* FOOTER */
.main-footer{
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 4px 0;
    height: 37px;
}
.inner-footer{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-footer div{
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}
.main-footer div i{
    margin-right: 30px;
}
.main-footer ul{
    display: flex;
    flex-wrap: wrap;
}
.main-footer li{
    margin-right: 30px;
    margin-bottom: 20px;
}

